*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #cccccc;
}

.container#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 60px;
    border-bottom: 1px solid #808080;
    box-shadow: 0px 1px 2px 0px #808080;
    background-color: #cab555;
    color: #fff;
}

.headerItem#button{
    height: 40px;
    width: 40px;
    border-radius: 24px;
    border-width: 1px;
    background-color: #b19001;
    color: #fff;
    font-size: 24px;
}

dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: opacity .5s;
    border-radius: 0.5rem;
    padding: 0;
    border: solid 1px #ccc;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
}

dialog[open] {
    animation: scale-up .5s forwards;
}

@keyframes scale-up{
    0%{
      scale:0;
    }
    100%{
      scale:1;
    }
  }

dialog.hide{
    animation: scale-down .5s forwards;
}

@keyframes scale-down{
    0%{
      scale:1;
    }
    100%{
      scale:0;
    }
}

  dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

dialog::backdrop {
  backdrop-filter: blur(0.25rem);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

form .input{
    border-radius: 4px;
    font-size: 18px;
    border-width: 1px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}

form button{
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 5px;
    border-width: 1px;
}
